body {
	background-image: url("woodtile.jpg");
	font-family: Tahoma, Geneva, sans-serif;
	padding-left: 20px;
	padding-top: 50px;
}

#prod_div, #quant_div, #price_div {
	float: left;
	margin-right: 20px; 
}

#p_price {
	width: 55px;
}

div > p {
	line-height: 10%; 

}

#saved_div {
	background-color: white;
	border: 1px solid black;
	float: left;
	height: 600px;
	width: 500px;
	margin-left: 50px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px black;
	overflow: auto;
}

#saved_list {
	float:left;
}

li {
	text-align: right;
	list-style-type: none;	
}

.prod_span {
	cursor: pointer;
}

.prod_span:hover {
	background-color: lightgrey;
}

li > span {
	margin-right: 20px; 
}

#del_item {
	float: right;
}

input[type=button] {
	background-color: white;
    border: none;
    color: ;
    padding: ;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	box-shadow: 1px 1px 1px grey;
}